/* a{
    color: inherit!important;
} */
/*  */
.medium-editor-element:focus{

    outline: none;
}

 p {
    display: grid;
}

 p img {
    /* border: 1px solid red; */
     width: 450px;
  height: auto;
  font-size: 1.14285714rem;
  justify-self: center;
}

.rbc-event-label{
    display: none;
}
.rbc-event{
    padding: 0 !important;
    border: 1px solid white !important;
    background-color: rgba(0,0,0,0) !Important;
}
