<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.first_name + " " + @user.last_name%>,</p>
    <p>
      An account has been made for you on Inner Wisdom. You will receive another email with a link to reset your password.
    </p>
    <p><%=@user.first_name + " " + @user.last_name%></p>
    <p><%=@time%></p>
  </body>
</html>
