<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Sue,</p>
    <p>
      A new phone consultation booking has been made online here are the details:
    </p>
    <p><%=@user.first_name + " " + @user.last_name%></p>
    <p><%=@time%></p>
  </body>
</html>
