<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Sue,</p>

    <p><%=@user.first_name + " " + @user.last_name%> has just canceled the following appointment.</p>
    <p><%=@time%></p>
  </body>
</html>
