<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application'%>

<%= react_component('Nav', user: current_user, static: true) %>
<div class="ui divider hidden"></div>
<div class="ui container text">
<%= yield %>
</div>
