<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application'%>
<meta name=viewport content="width=device-width, initial-scale=1">
<%= react_component('Nav', user: current_user, static: true) %>
<div class="ui divider hidden"></div>
<div class="ui container text">
<%= yield %>
</div>
